.header {
  background-color: white;
}

.navbar {
  line-height: 70px;
  padding-left: 10%;
  font-size: 15px;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}

.logo {
  float: left;
  width: 20%;
}

.menu {
  float: left;
  padding-left: 15%;
  width: 60%;
}

.lingue {
  float: right;
  width: 20%;
}

ul {
  list-style-type: none;
}

.menu li {
  display: inline-block;
  margin-right: 3%;
}

a {
  text-decoration: none;
  text-align: center;
}

.marginfix {
  margin-top: 70px;
}

.citypic {
  background-image: url("../img/HelbizOrig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  /*debug*/
  position: relative;
}

.layover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.picture h1 {
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
}

.picture p {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centratura {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prodotti {
  margin-top: 4%;
}

.item {
  width: 40%;
  background-color: #fafafa;
  float: left;
  text-align: center;
}

.monopattino {
  margin-left: 7%;
}

.bici {
  margin-left: 5%;
}

.item img {
  max-width: 50%;
}

.oldman-pic {
  background-image: url("../img/HelbizBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  /*debug*/
  position: relative;
}

.telefono {
  position: absolute;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -40%);
}

.telefono img {
  max-width: 50%;
}

.colsx {
  width: 30%;
  float: left;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.coldx {
  width: 30%;
  float: right;
  padding-top: 5%;
  padding-bottom: 5%;
}

.img-estesa {
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  /*debug*/
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  padding-left: 50%;
  padding-top: 15%;
  color: white;
}

.img-estesa h2 {
  font-size: 40px;
}

.coppia-img {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  color: white;
}

.uno {
  width: 45%;
  background-color: darkblue;
  margin-right: 10%;
  float: left;
  text-align: center;
  padding-top: 5%;
  height: 500px;
}

.uno img {
  padding-top: 10%;
  width: 70%;
}

.due {
  width: 45%;
  background-image: url("../img/Cities-1500.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 500px;
  text-align: center;
  padding-top: 5%;
}

.collage {
  background-image: url("../img/Social-Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 3%;
  position: relative;
  margin-bottom: 3%;
}

.box {
  position: absolute;
  padding: 5%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icone {
  width: 60%;
}

.icone li {
  float: left;
}

/* footer */
footer {
  background-color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
}

@media screen and (max-width: 767px) {
  .menu, .lingue {
    display: none;
  }

  .picture h1 {
    font-size: 35px;
  }

  .picture p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  .centratura {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-55%, -50%);
  }

  .oldman-pic {
    height: 150px;
    /*debug*/
  }

  .img-estesa {
    height: 250px;
    /*debug*/
    padding-right: 3%;
  }

  .img-estesa h2 {
    font-size: 25px;
  }

  .uno, .due {
    height: 250px;
  }

  .col-xs-6 {
    padding-bottom: 5%;
    padding-left: 15%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .menu, .lingue {
    display: none;
  }

  .picture p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centratura {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .oldman-pic {
    height: 300px;
    /*debug*/
  }

  .img-estesa {
    height: 300px;
    /*debug*/
    padding-right: 5%;
  }

  .img-estesa h2 {
    font-size: 30px;
  }

  .col-xs-6 {
    padding-left: 5%;
  }

  .uno, .due {
    height: 300px;
  }
}
